<div class="mt-5 d-flex justify-content-center">
    <div class="card align-items-center p-2" style="width: 25rem;">
        <img  width="100px" height="100px" [src]="contact.photo" alt="no img">
        <div class="card-body">
            <h5 class="card-title">{{contact.name}}</h5>
            <ul class="list-group list-group-flush">
              <p>Id : {{contact.id}}</p>
              <p>Mobile : {{contact.mobile}}</p>
              <p>Email : {{contact.email}}</p>
              <p>Company : {{contact.company}}</p>
              <p>Title : {{contact.title}}</p>
              <p>Group : {{group}}</p>                  
            </ul>
        </div>
       
      </div>
</div>